* {
    margin: 0;
    padding: 0;
    list-style: none;
}

span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}

html,body {
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 243, 250);
    height: 100%;
    width: 100%;
}

li:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 236, 0.5);
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: minmax(8rem, 18rem) minmax(12rem, 3fr);
}

/*---------------------------------- HEADER STARTS HERE -----------------------------*/

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 1rem 0 3rem;
}

.header-box2 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.notifications, .user-profile-img, .user-name{
    padding-right: 1.5rem;
}

.user-name {
    font-weight: 700;
}

.searchbox-container {
    height: 2.1rem;
    background-color: rgb(216, 226, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    width: 90%;
}

.searchbox-container > span {
    padding-left: 5px;
    color: rgb(26, 47, 105);
}

#searchbox {
    border: none;
    padding-left: 15px;
    background: none;
    width: 100%;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem 0 3rem;
}

.user-profile, .header-box3 {
    display: flex;
    align-items: center;
}

.header-box4 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.greeting {
    display: grid;
    height: 6rem;
    align-items: center;
    padding-left: 0.5rem;
}

.smol {
    font-size: 0.9rem;
}

.bold {
    align-self: start;
    font-weight: 700;
    font-size: 1.5rem;
}

.header-button {
    background-color: rgb(211, 134, 45);
    width: 6rem;
    height: 1.9rem;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 700;
    margin-right:20px
}

/*------------------------------------- SIDEBAR STARTS HERE -----------------------------------*/

.sidebar {
    background-color: rgb(39, 40, 51);
    grid-row: 1/3;
}

.sidebar-title-logo {
    width: 10rem;
}

.sidebar-items > ul {
    display: grid;
    gap: 20px;
}

.sidebar-items > ul > li {
    display: flex;
    padding-left: 2rem;
    font-size: 1.5rem;
    align-items: center;
    height: 2.5rem;
    margin: -5px;
}


.sidebar-items > ul > li > span {
    padding-right: 1.5rem;
}

.sidebar-items > ul > li:first-child {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.sidebar-items > ul > li:first-child > span:first-child {
    padding-right: 0.8rem;
}

.sidebar-title {
    font-size: 2rem;
    font-weight: 700;
}

/*------------------------------------ DASHBOARD STARTS HERE --------------------------------------*/

.dashboard-board {
    background-color: rgb(108, 117, 139);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1.5rem 2rem 0 2rem;
}

.dashboard-title {
    font-weight: 700;
    font-size: 1.3rem;
}

.project-container {
    display: grid;
    grid-template-rows: 25px 1fr;
    grid-auto-rows: 1fr;
}

.project-container > span {
    margin-top: auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 10px 15px 15px 0;
}

.card, .announcement-card, .trending-card {
    background-color: rgb(216, 226, 231);
    color: rgb(14, 56, 59);
    padding: 25px;
    border-left: 0.5rem solid orange;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(87, 94, 114);
}

.title, .ann-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.description, .ann-descr, .user-descr {
    color: rgb(125, 162, 165);
    font-size: 0.9rem;
}

.others-container {
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: grid;
    grid-template-rows: 30rem calc(100%-30rem);
    grid-row: 1/3;
}

.dashboard-header {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(50, 56, 73);
}

input:focus {
    outline: none;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: 25px;
    margin-left: 10px;
}

.announcement-card, .trending-card {
    border: none;
    gap: 30px;
    margin: 10px 15px 15px 0;
    padding: 20px;
}

.ann-title, .user-tag {
    font-size: 0.9rem;
}

.ann-descr, .user-descr {
    font-size: 0.8rem;
}

.announcement-box {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(169, 178, 187);
}

.announcement-box:last-child {
    border: none;
}

.trending-card > ul {
    display: grid;
    align-items: center;
}

.user-cards {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.user-account {
    padding-left: 10px;
}

/*-------------------------------------- PROFILE PICTURE -------------------------------------------*/

.profile-picture {
    width: 4rem;
    height: auto;
    border-radius: 50%;
}

.profile-picture-mini {
    width: 3.5rem;
    height: auto;
    border-radius: 50%;
}