* {
    margin: 0;
    padding: 0;
    list-style: none;
}

span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}

html,body {
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 243, 250);
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(8rem, 18rem) minmax(12rem, 3fr);
}

.dashboard {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-row: 1/3;
}

.dashboard-header {
    background-color: rgb(50, 56, 73);
}

.sidebar {
    background-color: rgb(39, 40, 51);
    grid-row: 1/3;
}

.sidebar-title-logo {
    width: 10rem;
}

.sidebar-items > ul {
    display: grid;
    gap: 20px;
}

.sidebar-items > ul > li {
    display: flex;
    padding-left: 10px;
    font-size: 1.5rem;
    align-items: center;
}

.sidebar-items > ul > li:first-child {
    padding: 0.5rem 0 1.5rem 0.5rem;
}

.sidebar-items > ul > li > span {
    padding-right: 1.1rem;
}

.sidebar-title {
    font-size: 2rem;
    font-weight: 700;
}

.dashboard-board {
    background-color: rgb(108, 117, 139);
}